/* App.css */
body {
  background-color: #09365d;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Center the game in the middle of the screen */
.game {
  background: #0aa237;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  
  /* Centering with Flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Centering the game in the viewport */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h1 {
  color: #09365d;
  font-size: 24px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.board-row {
  display: flex;
}

.square {
  width: 80px;
  height: 80px;
  font-size: 24px;
  font-weight: bold;
  color: #09365d;
  cursor: pointer;
  border: 2px solid #09365d;
  background-color: #d7c747;
  transition: 0.3s;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.square:hover {
  background-color: #caa510;
}

.reset {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #09365d;
  background: #ff5733;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.reset:hover {
  background: #d84315;
}

h2 {
  margin-top: 15px;
  font-size: 18px;
  color: #09365d;
}
